*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*login css*/
.container{
	background-color: #3185d8;
	width: 100%;
	min-height: 10vh;
	padding-left: 3%;
	padding-right: 3%;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;

}
.menu-icon{
	width: 40px;
	cursor: pointer;
	display: none;
	margin-top: 1%;
}
.navbar{
	display: flex;
	width: 100%;
	align-items: center;
}
.navbar h1{
	margin-top: 1%; 
	color: #fff;
	font-size: 20px;
	box-sizing: border-box;
	border-style: solid ;
	border-color: #2b75be;
	padding:5px 10px;
	background-color: #8cdfff;
	cursor: pointer;
}
 nav{
 	flex: 1;
 }
 nav ul li {
 	list-style: none;
 	display: inline-block;

 }
 nav ul li a {
 	text-decoration: none;
 	color: #fff;
 	font-size: 14px;
 }
 nav ul li a:hover{
 	color: #8cdfff;
 }
 .example {
 	margin-top: 1%;
 }
.example input[type=text]{
	padding: 5px 10px;
	font-size: 20px;
	border: 3px solid gray;
	width: 500px;
	background: #dcdcdc;
}
.example img{
	width: 23px;
}
.example button{
	float: right;
	padding: 5px 10px;
	background: #8cdfff;
	border-color: #2b75be;
	border-left: none;
}
.login{

	margin-top: 1%; 
	color: #fff;
	font-size: 20px;
	box-sizing: border-box;
	border-style: solid ;
	border-color: #2b75be;
	padding:5px 10px;
	background-color: #8cdfff;
	border-radius: 50px;
	position: relative;
}
.login a{
	text-decoration: none;
	color: #fff;
}
.bpannel{
	background: #dcdcdc;
	width: 100%;
	height: 100vh;
	background-attachment: cover;

}
.bpannel2{
	background: #dcdcdc;
	width: 100%;
	height: 150vh;
	background-attachment: fixed;

}
.loginbox{
	width: 400px;
	height: 380px;
	background: #3185d8;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 40px 30px;
	border-radius: 5px;
}
.loginbox h3{
	text-align: center;
	margin-top: -20px;

}
.loginbox input[type="text"], input[type="password"]{
	padding: 5px 10px;
	font-size: 20px;
	border: 3px solid gray;
	width: 318px;
	background: #dcdcdc;

}
.loginbox input[type="submit"]{
	padding: 2px 30px;
	background: #8cdfff;
	border-color: #2b75be;
	border-style: solid;
	color: #fff;
	font-size: 18px;
}
hr{
	background-color: #8aadc5;
	border-color: #8aadc5;
	height: 2px;
}
.loginbox button{
	padding: 10px 30px;
	width: 345px;
	background: #e4232a;
	border-color: #fe6368;
	border-style: solid;
	color: #fff;
	font-size: 18px;
}
.app-links img{
	width: 150px;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	margin-left: -150px;
}
.app-links{
	text-align: center;
}.app-links2 img{
	width: 150px;
	cursor: pointer;
	position: absolute;
	bottom: 0;
	margin-left: 7px;
}
.app-links2{
	text-align: center;
}
/*end of login css*/


/*home css*/
.flash{

	width: 800px;
	height: 150px;
	background: #fff;
	color: #3185d8;
	top: 30%;
	left: 40%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 0px 20px;
	padding-left: 100px;

}
.flash h1 {
	float: right;
	font-size: 35px;
	margin-top: 50px; 
	font-weight: bold;
	text-shadow: 5px  2px #000;
	position: relative;

}
.flash img{
	width: 300px;

}
.news{
	width: 250px;
	height: 350px;
	background: #fff;
	color: #3185d8;
	top: 45%;
	right: 0%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 25px 25px;
	overflow: visible;
}
.news h1{
	font-size: 20px;
}
.news p {
	font-size: 15px;
}
.product table{
	transform: translate(18%, 30%);
	border: 4px;
	background: #fff;
	border-style: solid #fff; 
	width: 800px;

}
.product td{
	padding-top: 10px;
	padding-left: 10px; 
	padding-right: 10px;
	padding: 10px 10px; 
	border-style: solid;
	border-color: #b2b4b6;
}
.product tr td {
	background-color: #e2e2e2;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;

}
.product tr td img {
	width: 150px;
}
.product table tr td p{
	color: #385369;
}
.product tr td h1 {
	font-size: 60px;
	background-color: #e2e2e2;
	border-radius: 150px;
	padding: 30px;
	color: #919191;
	border-style: solid;
	border-color: #b2b4b6;
}
tr td h2{
	font-size: 20px;
	color: #919191;
}
/*end of home css*/

/*contactus css*/
.header h1{
	background: #fff;
	box-sizing: border-box;
	color: #3185d8;
	text-align: center;
	padding: 25px 25px;
	font-size: 40px;
}
.contact-links{
	flex: 1;
	text-align: center;
	justify-content: space-between;
}
.contact-links ul li{
	list-style: none;
	display: inline-block;
	border: 2px solid #b2b4b6;
	background: #fff;
padding: 50px 20px;
cursor: pointer;
}
.contact-links p{
	color: #525252;
	font-weight: bold;
}


/*end of contactus css*/

/*about us css*/
.haboutus h1{
	background: #fff;
	box-sizing: border-box;
	color: #525252;
	text-align: center;
	padding: 25px 25px;
	font-size: 40px;
}
.aboutbox p{
	width: 700px;
	height: 225px;
	background: #3185d8;
	color: #fff;
	top: 50%;
	left: 35%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 40px 30px;
}
.aboutbox img{
	width: 300px;
	height: 225px;
	background: #3185d8;
	top: 50%;
	left: 75%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 20px 30px;
	position: absolute;
}
/*end of about us css*/
/*catergories*/
.flashc{
	width: 800px;
	height: 150px;
	background: #fff;
	color: #3185d8;
	top: 30%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 0px 20px;
	padding-left: 100px;
	cursor: pointer;

}
.flashc h1 {
	float: right;
	font-size: 35px;
	margin-top: 50px; 
	font-weight: bold;
	text-shadow: 5px  2px #000;
	position: relative;

}
.flashc img{
	width: 300px;

}
.cate h1{
	font-size: 20px;
	padding: 10px 10px;
	color: #fff;
	width: 200px;
	background: #3185d8;
	text-align: center;
	transform: translate(20px, 150px);
}
.chose{
	width: 800px;
	height: 200px;
	background: #fff;
	color: #000;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 40px 20px;
	text-align: center;

}
.chose ul li {
	display: inline-block;
	text-align: center;
	cursor: pointer;

}
.chose li {
	border-style: solid;
	border-color:#2b75be ;
	width: 150px;
	height: 100px;
	padding: 10px;
	font-size: 20px;
	top: 50%;
	background-color: #8cdfff;
	
}
.chose li p {
	color: #fff;
	padding-top: 35px;
}
 .chose ul li:hover{
 	background-color:#2b75be ;
 }

/*end of categories*/
/*item pages*/
.item-container{
	width: 850px;
	height: 600px;
	background: #fff;
	top: 70%;
	left: 35%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 20px 20px;
	border: 2px solid #747575;
	border-radius: 5px;
}
.item-container img{
	width: 300px;
	border:1px solid #757577;
}
.item-container p {
	display: inline-block;
	font-weight: bold;
	font-size: 26px;
	position: absolute;
	padding-top: 20px;
	padding-left: 20px;
}
.item-container h3{
	display: inline-block;
	font size: 26px;
	padding-top: 240px;
	padding-left: 20px;
	position: absolute;
}
.item-container span{
	display: inline-block;
	
}
.item-container h4{
	display: inline-block;
	padding-left: 10px;
}
.item-container h1{
	display: inline-block;
	position: absolute;
	padding-top: 100px;
	padding-left: 20px;
}
.checked {
  color: orange;
}
.vouch input[type="button"]{
	color: #fff;
	background-color: #8cdfff;
	border-color: #2b75be;
	font-size: 20px;
	padding: 10px 25px;
	width: 420px;
}
.vouch input[type="button"]:hover{
background-color: #2b75be;
}
.add-buy input[type="button"]{
	color: #fff;
	background-color: #8cdfff;
	border-color: #2b75be;
	font-size: 20px;
	padding: 10px 25px;
	width: 200px;
}
.add-buy input[type="button"]:hover{
background-color: #2b75be;
}
.vouch input[type="number"]{
	width: 80px;
	height: 45px;
	border:none;
	outline: none;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);

	
}
.vouch button{
	width: 40px;
	

}
.vouch h5{
	display: inline-block;
	font-size: 20px;
}
.rev h1{
	padding: 10px 10px;
	color: #000;

}
.location-panel{
	width: 400px;
	height: 500px;
	background: #fff;
	top: 63%;
	left: 55%;
	position: absolute;
	transform: translate(50%, -50%);
	box-sizing: border-box;
	padding: 20px 20px;
	border: 2px solid #747575;
	position: absolute;
}
.location-panel h1{
	font-weight: bold;
	padding: 0 0;
}
.location-panel p {
	font-size: 18px;
}
.location-panel a {
	text-decoration: underline;
	color: #000;
	display: inline-block;
	position: static;
}
/*end of itempage css*/
/*sellers view css */
.order-panel{
	width: 1000px;
	height: 200px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 15px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
}
.order-panel table {
		border-style: hidden;
		border-collapse: collapse;
		text-align: left;
		width: 100%;
	}
.order-panel tr, td, th {
		border: solid;
		border-color: #757575;
}
.order-panel th{
	padding: 5px 5px;
}
.order-panel td{
	height: 160px;
	padding: 10px 10px;
	vertical-align: top;

}
.order-panel input[type="button"]{
	width: 30px;
	background: #00ff00;
	border: 1px solid #323232;

}
.labelh1{
	color: #757575;
	top: 15%;
	left: 12%;
	transform: translate(10%, 50%;);
	position: absolute;
}
.labelh12{
	color: #757575;
	position: absolute;
	left: 0;
}
.deliver-panel{
	width: 1000px;
	height: 200px;
	top: 85%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 15px;
	background-color: #fff;
	position: absolute;
	border-radius: 5px;
	text-align: center;
}
.deliver-panel table {
		border-style: hidden;
		border-collapse: collapse;
		text-align: left;
		width: 100%;
	}
.deliver-panel tr, td, th {
		border: solid;
		border-color: #757575;
}
.deliver-panel th{
	padding: 5px 5px;
}
.deliver-panel td{
	height: 160px;
	padding: 10px 10px;
	vertical-align: top;

}
.deliver-panel input[type="button"]{
	width: 30px;
	background: #00ff00;
	border: 1px solid #323232;

}
/*end of seller view css*/
/*admin css*/
.admin-insert{
	margin-left: 10%;
}
.admin-insert input[type="text"]{
	height: 40px;
	padding: 0px 0px;
	display: inline-block;
	float: left;
	margin-top: 50px;
	left: 10px;
}
.admin-insert input[type="button"]{
	display: inline-block;
	float: left
	padding: 10px 10px;
	height: 45px;
	width: 100px;
	text-align: center;
	background: #8cdfff;
	border: 3px solid #2b75be;
	margin-top: 50px;
	margin-left: 10px;
	color: #fff;
	font-size: 20px;
}
.admin-insert input[type="button"]:hover{
	
	background: #2b75be;
}
.table-label h1{
	color: #757575;
	font-size: 30px;
	padding: 50px 200px;

}
.table-panel{
	width: 900px;
	height: 400px;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px 20px;
	background: #fff;
	border-color: #dcdcdc;
	position: absolute;
	text-align: center;
	border: 1px solid #757575;
}
.table-panel table{
	width: 100%;
}
.table-panel td {
	width: 100px;
	height: 40px;
}
.talbe-panel td, input[type="button"]{
	background: #ff0000;
	padding: 10px 10px;
	width: 130px;
	border:solid #ff0000;
}
td .btn2 {
	background: #00ff00;
	padding: 10px 10px;
	width: 130px;
	border:solid #00ff00;
}
.talbe-panel td, input[type="button"]:hover{
	background: #fff;
	border-color: #8cdfff;
}
/*end of admin css*/
/*add to cart css*/
.cart-panel{
	width: 750px;
	height: 500px;
	top: 60%;
	left: 35%;
	transform: translate(-50%, -50%);
	padding: 20px 20px;
	background: #fff;
	border-color: #dcdcdc;
	position: absolute;
	border: 1px solid #757575;
}
.cart-label h1{
	padding-top: 60px;
	padding-left: 80px;
	color: #757575;
}
.cart-panel table{
	width: 100%;
	background: #dcdcdc;
	border: hidden;
	border-collapse: collapse;
	position: relative;
}
.cart-panel th{
	border-color: #8cdfff;
	background: #8cdfff;
	padding:25px 5px;
	color: #fff;
}
.cart-panel td{
	padding: 25px 5px;
	border-left: hidden;
	border-right: hidden;
	border-color: #fff;
}
.cart-panel img{
	width: 150px;
}
.cart-panel input[type="number"]{
	width: 60px;
	height: 20px;
	border:none;
	outline: none;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);

	
}
.checkout-panel {
	width: 350px;
	height: 370px;
	top: 50%;
	left: 82%;
	transform: translate(-50%, -50%);
	padding: 20px 20px;
	background: #fff;
	border-color: #dcdcdc;
	position: absolute;
	border: 1px solid #757575;
	overflow: hidden;
}
.checkout-panel input[type="submit"]{	
	float: right;
	padding: 12px 9px;
	background: #8cdfff;
	border-color: #2b75be;
	display: inline-block;
	color: #fff;
	cursor: pointer;
}
.checkout-panel input[type="text"]{
	font-size: 20px;
	width: 290px;
	height: 40px;

}
.checkout-panel input[type="submit"]:hover{
	background: #2b75be;
}
.checkout-panel h6{
	float: right;
}
.checkout-panel button{
	padding: 12px 9px;
	background: #8cdfff;
	border-color: #2b75be;
	display: inline-block;
	color: #fff;
	width: 100%;
	cursor: pointer;

}
.checkout-panel button:hover{
	background: #2b75be;
}

/*end of add cart css*/
@media only screen and (max-width: 700px){
	nav{
		margin-top: 1%;
	}
	nav ul{
		width: 100%;
		background: #3185d8;
		position: absolute;
		top: 68px;
		right: 0;
		z-index: 2;
		overflow: hidden;
	}
	nav ul li {
		display: block;
		margin-top: 10px;
		text-align: right;
	}
	
	nav ul li a {
		color: #fff;
	}
	.line{
		display: none;
	}
	.example input{
		max-width: 100px;
	}
	.menu-icon{
		display: block;
	}
	#muneList {
		overflow: hidden;
		transition: 0.25s;
	}
}